.button:hover {
	text-shadow: 0px 0px 2.5px alpha(black, 0.55);
	icon-shadow: 0px 0px 2.5px alpha(black, 0.55);
	border: solid 2px alpha(black, 0.3);
}

.button:active {
	text-shadow: 0px 0px 1.3px alpha(black, 0.4);
	icon-shadow: 0px 0px 1.3px alpha(black, 0.4);
	border: solid 2px alpha(black, 0.1);
	background: alpha(black, 0.3);
}

.button {
	border-radius: 0px;
	border: 2px transparent solid;
}

GtkIconView:hover {
	icon-shadow: 0px 0px 1.5px alpha(black, 0.65);
}

GtkIconView:active {
	icon-shadow: 0px 0px 1px alpha(black, 0.65);
}

WnckTasklist {
	margin: 0px;
}

GtkWindow {
	transition: all 210ms ease-in;
}


